# 所有以 VITE_ 开头的变量，可以在 Markdown 内部引用的 Vue 组件、自定义主题代码中，直接通过 import.meta.env.VITE_xxx 读取，无需额外的桥接或导出配置。


# 静态资源服务前缀
# 可以是相对路径，也可以是 CDN URL
# 图片、视频、PDF、下载文件、字体
VITE_ASSETS_BASE_URL=

# 网站部署路径
# 站点基准路由路径 (如果部署在子域名根目录为 /，如果部署在子路径为 /docs/)
VITE_BASE=

# 站点根域名
# 站点生产环境完整域名 (用于 RSS、Sitemap 生成)
VITE_SITE_URL=

# 生产环境关闭开发辅助功能
VITE_ENABLE_MOCK=

# 站点统计 / 埋点
VITE_ANALYTICS_ID=

# Algolia DocSearch(未接入可留空)
VITE_ALGOLIA_APP_ID=
VITE_ALGOLIA_API_KEY=
VITE_ALGOLIA_INDEX_NAME=