# ==========================================
# 1、镜像加速（国内推荐）
# ==========================================
# 国内淘宝/阿里云 npm 镜像源 
registry=https://registry.npmmirror.com/

# ==========================================
# 2、pnpm 行为优化
# ==========================================
# 自动安装缺失的 peer 依赖，减少依赖报错
auto-install-peers=true

# ==========================================
# 发布相关配置
# ==========================================
# 发布四部曲
# 步骤1：登录
# pnpm login --registry=https://registry.npmjs.org/
# 步骤2：验证登录是否成功
# pnpm whoami --registry=https://registry.npmjs.org/
# 步骤3：设置token
# pnpm config set //registry.npmjs.org/:_authToken=你的新Token --global
# 步骤4：发布
# pnpm publish --access public

# 强制 pnpm 发布带 scope 的包时默认以 public 形式发布
access=public
# 指定发布源
publish-registry=https://registry.npmjs.org/